@define-color dark_bg  #2d333f;
@define-color light_bg #ebe0c4;
@define-color red   #9b4a52;
@define-color blue1 #c5d6e2;
@define-color blue2 #b3d1de;

* {
  margin: 0;
  padding: 0;
}

window#waybar {
  background: url("/home/lucas/.config/waybar/assets/bg_transparent.png");
}

.modules-left {
  background: url("/home/lucas/.config/waybar/assets/bg.png");
  border-bottom-right-radius: 20px;
}

#custom-icon {
  background: url("/home/lucas/.config/waybar/assets/logo.jpg"), @light_bg;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;

  border-bottom-right-radius: 20px;

  padding: 0px 35px;
}

#workspaces {
  font-family: gomono nerd font;
  font-size: 14px;

  background: @light_bg;

  border-radius: 20px;

  padding: 0em 0.5em;
  margin: 4px;
  margin-left: 10px;
}

#workspaces button label {
  color: @dark_bg;

  margin-right: 10px;
  margin-left: 6px;
}

#workspaces button.urgent label {
  color: @red;
}

#workspaces button.active label {
  color: @red;
}

#window {
  font-family: spacemanspiff;
  font-size: 20px;

  background: @light_bg;

  color: @dark_bg;

  border-radius: 20px;

  padding: 0em 1em;
  margin: 4px;
  margin-right: 10px;
}

.modules-center {
  background: url("/home/lucas/.config/waybar/assets/bg.png");

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#clock.time {
  font-family: calvin and hobbes;
  font-size: 22px;

  background: @light_bg;
  color: @dark_bg;

  border-radius: 20px;

  padding: 0em 0.75em;
  margin: 4px 10px;
}

.modules-right {
  background: url("/home/lucas/.config/waybar/assets/bg.png");
  border-bottom-left-radius: 20px;
}

#tray {
  font-family: gomono nerd font;
  font-size: 17px;

  background: @light_bg;
  color: @dark_bg;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  padding: 0px 5px;
  padding-left: 15px;
  margin: 4px 10px;
  margin-right: 0px;
}

#tray menu {
  background-color: @light_bg;
  color: @dark_bg;
}

#idle_inhibitor {
  font-family: gomono nerd font;
  font-size: 17px;

  background: @light_bg;
  color: @dark_bg;

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  padding: 0px 5px;
  padding-right: 20px;
  margin: 4px;
  margin-left: 0px;
}

#custom-cpu {
  font-family: gomono nerd font;
  font-size: 18px;

  background: @light_bg;
  color: @dark_bg;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  padding: 0px;
  padding-left: 15px;
  margin: 4px;
  margin-right: 0px;
}

#cpu {
  font-family: calvin and hobbes;
  font-size: 16px;

  background: @light_bg;
  color: @dark_bg;

  padding: 0px;
  margin: 4px 0px;
}

#custom-memory {
  font-family: gomono nerd font;
  font-size: 18px;

  background: @light_bg;
  color: @dark_bg;

  padding: 0px 10px;
  padding-right: 3px;
  margin: 4px 0px;
}

#memory {
  font-family: calvin and hobbes;
  font-size: 16px;

  background: @light_bg;
  color: @dark_bg;

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  padding: 0px 5px;
  padding-right: 13px;
  margin: 4px 0px;
  margin-right: 4px;
}

#pulseaudio.mic {
  font-family: gomono nerd font;
  font-size: 17px;

  background: @light_bg;
  background-position: center;

  color: @dark_bg;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  padding: 0px;
  padding-left: 15px;
  margin: 4px;
  margin-right: 0px;
}

#pulseaudio.def {
  font-family: gomono nerd font;
  font-size: 23px;

  background: @light_bg;
  background-position: center;

  color: @dark_bg;

  padding: 0px 7px;
  margin: 4px 0px;
}

#pulseaudio-slider {
  background: @light_bg;
  background-position: center;

  color: @dark_bg;

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  padding-right: 15px;
  margin: 4px 0px;
  margin-right: 4px;

  min-width: 75px;
  min-height: 10px;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider highlight {
  background-color: @dark_bg;
  border: 1px solid @dark_bg;

  border-radius: 20px;

  min-width: 0px;
  min-height: 10px;
}

#pulseaudio-slider trough {
  background: @light_bg;
  border: 2px solid @dark_bg;

  border-radius: 20px;
}

#clock.date {
  font-family: calvin and hobbes;
  font-size: 22px;

  background: @light_bg;
  color: @dark_bg;

  border-radius: 20px;

  padding: 0px;
  padding-right: 10px;
  padding-left: 15px;
  margin: 4px;
}
